<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-bind实例</title>
	<script src="../assets/js/vue.js"></script>
	<style>
		.red {
			background: red;
			width: 100px;
			height: 100px;
		}
		.classA {
			background: grey;
		}
		.classB {
			font-size: 50px;
		}
	</style>
</head>
<body>
	<h1>v-model</h1>
	<hr>
	<div id="app">
		<h4>普通绑定</h4>
		<div :class="hongse"></div>
		<hr>

		<h4>判断绑定</h4>
		<div :class="{red:isOk}">对象绑定<input type="checkbox" v-model="isOk"></div>
		<hr>

		<h4>三元表达式判断</h4>
		<div :class="isOk?hongse:''">三元表达式判断<input type="checkbox" v-model="isOk"></div>
		<hr>

		<h4>数组绑定</h4>
		<div :class="[classA,classB]">绑定class中的数组</div>
		<hr>

		<h4>绑定style</h4>
		<div :style="{fontSize: styleObject.fontSize,background: styleObject.background}">绑定style</div>
		<hr>

		<h4>对象绑定</h4>
		<div :style="styleObject">对象绑定</div>
		<!--v-bind 
		**	
		**
		**
		**
		**
		**
		-->
	</div>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				hongse: "red",
				styleObject:{
					fontSize: "24px",
					background: "yellow",
					color: "#f00"
				},
				isOk: true,
				classA: "classA",
				classB: "classB",
			}
		});
	</script>

</body>
</html>